* {
  margin: 0;
  padding: 0;
}

img {
  display: flex;
  max-width: 100%;
  margin-bottom: 20px;
}

li {
  list-style: none;
}

body {
  font-family: "Source Code Pro", monospace;
  background: url("../img/luca-.jpg") no-repeat top center;
  background-attachment: fixed;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align-last:auto;
  justify-items: center;
  height: 80px;
  color: white
}

.title {
  font-size: 24px;
  font-weight: normal;
  color: white;
}

.box {background: rgb(0, 0, 0);
  border-radius: 30px;
  text-align: left;
  margin: 0 auto;
  width: 20%;
  padding: 30px;
  margin-bottom: 30px;
  line-height: 30px;
  min-width: 300px;
  display: flex;
  flex-direction: column;
  }
    
.profile-pic {
  border-radius: 50%;
  margin: 0 auto;
  margin-bottom: 20px;
}


#projects li:hover{
  background-color: brown;
  border-radius: 10px;
  padding: 5px;
  padding: 5px;
  
}

  .destaque{
    font-size: 20px;
    margin-bottom: 1;
    }

    a{
      color: white;
      text-decoration:none;
    }

.icons{
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  max-width: 300px;
  min-width: 300px;
  background-color: black;
  justify-content: space-around;
 
}
#instaIcon{
width:53px;
display: flex;
background-color:black;
border-radius: 10px;


}

#linkedinIcon{
  background-color: aliceblue;
  width: 50px;
  border-radius: 5px;
  display: flex;
 
}

#mailIcon{
  background-color: aliceblue;
  width: 50px;
  border-radius: 5px;
  display: flex;

}

#GitIcon{
  background-color: aliceblue;
  width: 50px;
  border-radius: 5px;
  display: flex;

}

.icons img{
  opacity: 80%;
}

a img:hover{
  
  border-radius: 20px;
  min-width: 60px;
  display: flex;
  opacity: 100%;
}

a:hover{
  background-color: brown;
  max-width: 65px;
  max-height: 65px;
  border-radius: 10px;
  padding: 4px;
}
