* {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  margin-bottom: 20px;
}

li {
  list-style: none;
}

body {
  font-family: "Source Code Pro", monospace;
  background: url("../img/luca-.jpg") no-repeat top center;
  background-attachment: fixed;
  background-size: cover;
  display: center;
  align-items: center;
  text-align-last:auto;
  justify-items: center;
  height: 80px;
  color: white
}

.title {
  font-size: 24px;
  font-weight: normal;
  color: white;
}

.box {background: rgb(0, 0, 0);
  border-radius: 30px;
  text-align: left;
  margin: 0 auto;
  width: 20%;
  padding: 30px;
  margin-bottom: 30px;
  line-height: 30px;
  min-width: 300px;
  }

  .box2 {background: rgb(0, 0, 0);
  
    border-radius: 30px;
    text-align: left;
    margin: 0 auto;
    width: 20%;
    padding: 30px;
    line-height: 30px;
    min-width: 300px;
    
    }
    
.profile-pic {
  border-radius: 50%;
  margin: 0 auto;
  margin-bottom: 20px;
}


li:hover{
  background-color: gray;
  border-radius: 10px;
  padding: 5px;
}

  .destaque{
    font-size: 20px;
    margin-bottom: 1;
    }

    a{
      color: white;
      text-decoration:none;
    }

